.task {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-color: var(--gray-500);
	color: var(--gray-100);

	font-size: 0.875rem;
	line-height: 140%;
	padding: 1rem;

	border-radius: 8px;
}

.taskUncompleted {
	border: 1px solid var(--gray-400);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.task:not(:last-child) {
	margin-bottom: 1rem;
}

.task:first-child {
	margin-top: 2rem;
}

.task > div {
	display: flex;
	align-items: flex-start;
}

.task span {
	color: var(--blue-500);
}

.task p {
	font-size: 0.875rem;
	padding-right: 0.5rem;
}

.task .textCompleted {
	text-decoration: line-through;
	color: var(--gray-300);
}

.buttonCheck {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.buttonCheck:focus {
	box-shadow: none;
}

.deleteButton {
	border: 0;
	background: transparent;
	color: var(--gray-300);

	/* cursor: pointer; */

	line-height: 0;
	padding: 0.2rem;
	border-radius: 8px;
}

.deleteButton:hover {
	color: var(--red-600);
	background-color: var(--gray-400);
}

.checked {
	background-color: var(--purple-700);
	/* border: 1px solid var(--purple-700); */

	/* border: 2px solid var(--purple-700); */
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 44%; /* Não coloquei 50% porque a borda fica marcada em 50*/
	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.1s background-color;
}

.borderCircleChecked .checked:hover {
	background-color: var(--purple-500);
}

.borderCircleChecked:hover .checked {
	background-color: var(--purple-500);
}

.borderCircleChecked:hover {
	border: 2px solid var(--purple-500);
}

.unchecked {
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.1s background-color;
}

.unchecked:hover {
	background-color: var(--blue-500);
	border-radius: 50%;
	opacity: 0.3;
}

.borderCircleUnchecked {
	border: 2px solid var(--blue-500);
	border-radius: 50%;
}

.borderCircleChecked {
	transition: 0.1s border;
	border: 2px solid var(--purple-700);
	border-radius: 50%;
}
