.container {
	width: 39.9rem;
	margin-top: 8rem;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
}

.wrapperLeft {
	display: flex;
	width: 50%;
	justify-content: flex-start;
	gap: 8px;
}

.wrapperLeft > aside {
	font-weight: bold;
	font-size: 0.875rem;
	color: var(--blue-500);
}

.wrapperRight {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	gap: 8px;
}

.wrapperRight > aside {
	font-weight: bold;
	font-size: 0.875rem;
	color: var(--purple-500);
}

.rounded {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--gray-400);
	color: var(--gray-200);
	font-size: 0.75rem;
	font-weight: bold;

	border-radius: 999px;
}

.numberCreatedTasks {
	padding: 0.125 0.5rem;
	width: 8%;
}

.numberConcludedTasks {
	width: 20%;
	padding: 0.125 0.5rem;
}
